.menuzord-menu > li{
    padding:86px 0 40px 0;
}
.menuzord-menu > li > a{
    font-size:16px;
    padding-right:10px;
    padding-left:10px;
}
.menuzord-menu ul.dropdown{
    top:124px;
}
.menuzord-menu ul.dropdown li a{
    border-bottom: 1.25px solid #000;
}

.tp-parallax-wrap{
    left: 135px !important;
    top: 305px !important;
}

.panel-group .panel-title a::after , .panel-group .panel-title a.active::after{
    display:none !important;
}

@media (min-width: 1200px){
.container {
    width: 1200px;
}
}