

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
  <!--<link rel="stylesheet" href="{css_path}/css/froala_editor.css">
  <link rel="stylesheet" href="{css_path}/css/froala_style.css">
  <link rel="stylesheet" href="{css_path}/css/plugins/code_view.css">
  <link rel="stylesheet" href="{css_path}/css/plugins/draggable.css">
  <link rel="stylesheet" href="{css_path}/css/plugins/colors.css">
  <link rel="stylesheet" href="{css_path}/css/plugins/emoticons.css">
  <link rel="stylesheet" href="{css_path}/css/plugins/image_manager.css">
  <link rel="stylesheet" href="{css_path}/css/plugins/image.css">
  <link rel="stylesheet" href="{css_path}/css/plugins/line_breaker.css">
  <link rel="stylesheet" href="{css_path}/css/plugins/table.css">
  <link rel="stylesheet" href="{css_path}/css/plugins/char_counter.css">
  <link rel="stylesheet" href="{css_path}/css/plugins/video.css">
  <link rel="stylesheet" href="{css_path}/css/plugins/fullscreen.css">
  <link rel="stylesheet" href="{css_path}/css/plugins/file.css">
  <link rel="stylesheet" href="{css_path}/css/plugins/quick_insert.css">
  <link rel="stylesheet" href="{css_path}/css/plugins/help.css">
  <link rel="stylesheet" href="{css_path}/css/third_party/spell_checker.css">
  <link rel="stylesheet" href="{css_path}/css/plugins/special_characters.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.3.0/codemirror.min.css">

  -->
    <link rel="stylesheet" href="{css_path}/css/froala_editor.css">
  <link rel="stylesheet" href="{css_path}/css/froala_style.css">
  <link rel="stylesheet" href="{css_path}/css/plugins/code_view.css">
  <link rel="stylesheet" href="{css_path}/css/plugins/colors.css">
  <link rel="stylesheet" href="{css_path}/css/plugins/emoticons.css">
  <link rel="stylesheet" href="{css_path}/css/plugins/image_manager.css">
  <link rel="stylesheet" href="{css_path}/css/plugins/image.css">
  <link rel="stylesheet" href="{css_path}/css/plugins/line_breaker.css">
  <link rel="stylesheet" href="{css_path}/css/plugins/table.css">
  <link rel="stylesheet" href="{css_path}/css/plugins/char_counter.css">
  <link rel="stylesheet" href="{css_path}/css/plugins/video.css">
  <link rel="stylesheet" href="{css_path}/css/plugins/fullscreen.css">
  <link rel="stylesheet" href="{css_path}/css/plugins/file.css">
  <link rel="stylesheet" href="{css_path}/css/plugins/quick_insert.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.3.0/codemirror.min.css">