
 
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.3.0/codemirror.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.3.0/mode/xml/xml.min.js"></script>

  <script type="text/javascript" src="{js_path}/js/froala_editor.min.js" ></script>
  <script type="text/javascript" src="{js_path}/js/plugins/align.min.js"></script>
  <script type="text/javascript" src="{js_path}/js/plugins/char_counter.min.js"></script>
  <script type="text/javascript" src="{js_path}/js/plugins/code_beautifier.min.js"></script>
  <script type="text/javascript" src="{js_path}/js/plugins/code_view.min.js"></script>
  <script type="text/javascript" src="{js_path}/js/plugins/colors.min.js"></script>
  <script type="text/javascript" src="{js_path}/js/plugins/draggable.min.js"></script>
  <script type="text/javascript" src="{js_path}/js/plugins/emoticons.min.js"></script>
  <script type="text/javascript" src="{js_path}/js/plugins/entities.min.js"></script>
  <script type="text/javascript" src="{js_path}/js/plugins/file.min.js"></script>
  <script type="text/javascript" src="{js_path}/js/plugins/font_size.min.js"></script>
  <script type="text/javascript" src="{js_path}/js/plugins/font_family.min.js"></script>
  <script type="text/javascript" src="{js_path}/js/plugins/fullscreen.min.js"></script>
  <script type="text/javascript" src="{js_path}/js/plugins/image.min.js"></script>
  <script type="text/javascript" src="{js_path}/js/plugins/image_manager.min.js"></script>
  <script type="text/javascript" src="{js_path}/js/plugins/line_breaker.min.js"></script>
  <script type="text/javascript" src="{js_path}/js/plugins/inline_style.min.js"></script>
  <script type="text/javascript" src="{js_path}/js/plugins/link.min.js"></script>
  <script type="text/javascript" src="{js_path}/js/plugins/lists.min.js"></script>
  <script type="text/javascript" src="{js_path}/js/plugins/paragraph_format.min.js"></script>
  <script type="text/javascript" src="{js_path}/js/plugins/paragraph_style.min.js"></script>
  <script type="text/javascript" src="{js_path}/js/plugins/quick_insert.min.js"></script>
  <script type="text/javascript" src="{js_path}/js/plugins/quote.min.js"></script>
  <script type="text/javascript" src="{js_path}/js/plugins/table.min.js"></script>
  <script type="text/javascript" src="{js_path}/js/plugins/save.min.js"></script>
  <script type="text/javascript" src="{js_path}/js/plugins/url.min.js"></script>
  <script type="text/javascript" src="{js_path}/js/plugins/video.min.js"></script>
  <script type="text/javascript" src="{js_path}/js/plugins/help.min.js"></script>
  <script type="text/javascript" src="{js_path}/js/plugins/print.min.js"></script>
  <script type="text/javascript" src="{js_path}/js/third_party/spell_checker.min.js"></script>
  <script type="text/javascript" src="{js_path}/js/plugins/special_characters.min.js"></script>
  <script type="text/javascript" src="{js_path}/js/plugins/word_paste.min.js"></script>
  
  
  <script type="text/javascript" src="{js_path}/js/froala_editor.min.js" ></script>
  <script type="text/javascript" src="{js_path}/js/plugins/align.min.js"></script>
  <script type="text/javascript" src="{js_path}/js/plugins/char_counter.min.js"></script>
  <script type="text/javascript" src="{js_path}/js/plugins/code_beautifier.min.js"></script>
  <script type="text/javascript" src="{js_path}/js/plugins/code_view.min.js"></script>
  <script type="text/javascript" src="{js_path}/js/plugins/colors.min.js"></script>
  <script type="text/javascript" src="{js_path}/js/plugins/draggable.min.js"></script>
  <script type="text/javascript" src="{js_path}/js/plugins/emoticons.min.js"></script>
  <script type="text/javascript" src="{js_path}/js/plugins/entities.min.js"></script>
  <script type="text/javascript" src="{js_path}/js/plugins/file.min.js"></script>
  <script type="text/javascript" src="{js_path}/js/plugins/font_size.min.js"></script>
  <script type="text/javascript" src="{js_path}/js/plugins/font_family.min.js"></script>
  <script type="text/javascript" src="{js_path}/js/plugins/fullscreen.min.js"></script>
  <script type="text/javascript" src="{js_path}/js/plugins/image.min.js"></script>
  <script type="text/javascript" src="{js_path}/js/plugins/image_manager.min.js"></script>
  <script type="text/javascript" src="{js_path}/js/plugins/line_breaker.min.js"></script>
  <script type="text/javascript" src="{js_path}/js/plugins/inline_style.min.js"></script>
  <script type="text/javascript" src="{js_path}/js/plugins/link.min.js"></script>
  <script type="text/javascript" src="{js_path}/js/plugins/lists.min.js"></script>
  <script type="text/javascript" src="{js_path}/js/plugins/paragraph_format.min.js"></script>
  <script type="text/javascript" src="{js_path}/js/plugins/paragraph_style.min.js"></script>
  <script type="text/javascript" src="{js_path}/js/plugins/quick_insert.min.js"></script>
  <script type="text/javascript" src="{js_path}/js/plugins/quote.min.js"></script>
  <script type="text/javascript" src="{js_path}/js/plugins/table.min.js"></script>
  <script type="text/javascript" src="{js_path}/js/plugins/save.min.js"></script>
  <script type="text/javascript" src="{js_path}/js/plugins/url.min.js"></script>
  <script type="text/javascript" src="{js_path}/js/plugins/video.min.js"></script>
